<h1>Pixtr Galleries</h1>
<ul>
<% @galleries.each do |gallery| %>
  <li><a href="/gallery/<%= gallery.name.capitalize %>"><%= gallery.name.capitalize%></a></li>
<% end %>
</ul>
<p>
  <a href="galleries/new">Create a new gallery</a>
</p>
