<h1>Create a New Gallery</h1>
<form action="/galleries" method="POST">
  <div>
    <label>Gallery Name:</label>
    <input type="text" name="gallery[name]">
  </div>
  <div>
    <label>Gallery Description:</label>
    <input type="text" name="gallery[description]">
  </div>
  <input type="submit" value="Submit">
</form>
